<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mango.leo.zsproject"> <!--  -->

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".CIFITApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="BC3eSL3OvRrK2pK6RU33mgb5hmKCSgUl" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.mango.leo.zsproject"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".ZsActivity"></activity>
        <activity android:name=".industrialservice.createrequirements.AllAndCreatedPlanActivity" />
        <activity android:name=".industrialservice.createrequirements.CreatedStyleActivity" />
        <activity android:name=".industrialservice.createrequirements.BusinessPlanActivity" />
        <activity android:name=".industrialservice.createrequirements.CustomRequirementsActivity" />
        <activity
            android:name=".industrialservice.createrequirements.carditems.CardFirstItemActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".industrialservice.createrequirements.carditems.CardSecondItemActivity" />
        <activity android:name=".industrialservice.createrequirements.carditems.CardThirdItemActivity" />
        <activity android:name=".industrialservice.createrequirements.carditems.CardFourthItemActivity" />
        <activity android:name=".industrialservice.createrequirements.carditems.CardFifthItemActivity" />
        <activity android:name=".industrialservice.createrequirements.carditems.CardSixthItemActivity" />
        <activity android:name=".industrialservice.createrequirements.carditems.CardSeventhItemActivity" />
        <activity android:name=".industrialservice.createrequirements.carditems.CardEigththItemActivity" />
        <activity android:name=".industrialservice.createrequirements.carditems.CardNinthItemActivity" />
        <activity android:name=".login.PhoneLoginActivity" />
        <activity android:name=".login.PwdSettingActivity" />
        <activity android:name=".login.PwdLoginActivity" />
        <activity android:name=".login.StartActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".login.ResActivity" />
        <activity android:name=".login.UserActivity" />
        <activity android:name=".personalcenter.show.UserChangeActivity" />
        <activity android:name=".personalcenter.show.AccountSecurityActivity" />
        <activity android:name=".personalcenter.show.SettingActivity" />
        <activity android:name=".personalcenter.show.GovActivity" />
        <activity android:name=".personalcenter.show.ChangePwdActivity" />
        <activity android:name=".personalcenter.show.ChangePwdForActivity" />
        <activity android:name=".personalcenter.show.ForgetActivity" />
        <activity android:name=".personalcenter.show.ChangePhoneActivity" />
        <activity android:name=".personalcenter.show.ChangeEmailActivity" />
        <activity android:name=".personalcenter.show.userchange.NameActivity" />
        <activity android:name=".personalcenter.show.userchange.CompanyActivity" />
        <activity android:name=".personalcenter.show.userchange.DepartmentActivity" />
        <activity android:name=".eventexhibition.show.EventDetailActivity" />
        <activity android:name=".eventexhibition.show.EventRegistrationActivity" />
        <activity android:name=".personalcenter.show.ShouCangActivity" />
        <activity android:name=".personalcenter.show.AboutActivity" />
        <activity android:name=".login.UserBackActivity" />
        <activity android:name=".personalcenter.show.userchange.MesActivity" />
        <activity android:name=".personalcenter.show.KefuActivity" />
        <activity android:name=".personalcenter.show.kefu.WeActivity" />
        <activity android:name=".personalcenter.show.kefu.PhActivity" />
        <activity android:name=".personalcenter.show.kefu.QueActivity" />
        <activity android:name=".personalcenter.show.shengbao.ShengBaoActivity" />
        <activity android:name=".personalcenter.show.shengbao.ShenBaoDetailActivity">

        </activity>
        <activity android:name=".personalcenter.show.baoming.BaoMingActivity"></activity>
    </application>

</manifest>